

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

body {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
}

/* Add a container for the blog content */
.blog-content {
  @apply mx-auto max-w-4xl px-4 py-8 bg-[#A67B00]/10 rounded-md;
}

.blog-content h1 {
  @apply text-4xl font-bold mb-4;
}

.blog-content h2 {
  @apply text-3xl font-bold mb-4;
}

.blog-content h3 {
  @apply text-2xl font-bold mb-4;
}

.blog-content p {
  @apply text-lg mb-4;
}

.blog-content ul {
  @apply list-disc list-inside mb-4;
}

.blog-content ol {
  @apply list-decimal list-inside mb-4;
}

.blog-content li {
  @apply mb-2;
}

.blog-content a {
  @apply text-blue-600 hover:underline;
}

.blog-content blockquote {
  @apply border-l-4 border-gray-400 pl-4 italic my-4;
}

.blog-content img {
  @apply max-w-full h-auto rounded-lg my-4;
}

.blog-content pre {
  @apply bg-gray-100 p-4 rounded-lg my-4 overflow-x-auto;
}

.blog-content code {
  @apply font-mono text-sm;
}


.loader {
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  background: radial-gradient(circle closest-side, #F9C505 94%,#0000) right/calc(200% - 1em) 100%;
  animation: l24 1s infinite alternate linear;
}
.loader::before {
  content: "Loading...";
  line-height: 1em;
  color: #0000;
  background: inherit;
  background-image: radial-gradient(circle closest-side,#fff 94%,#000);
  -webkit-background-clip:text;
          background-clip:text;
}

@keyframes l24{
  100%{background-position: left}
}